<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Angular js scripts-->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="app/app.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"/>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>
    </head>
    
    <body ng-app="ngApp">
        <div ng-controller="ngAppDemoController"> 
            <div class="container" style="text-align: center">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    
                    <form>
                        Count:<input class="form-control" type="number" ng-model='count'><br>
                        First Name:<input class="form-control" type="number" ng-model='fName'><br>
                        Last Name:<input class="form-control" type="number" ng-model='lName'><br>
                        City:<input class="form-control" type="number" ng-model='city'><br>
                        Street:<input class="form-control" type="number" ng-model='street'><br>
                        <button class="btn-primary form-control" ng-click="createData()">Create Data!</button><br>
                    </form>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </body>
</html>
